:root {
  --color-default: grey;
  --color-invalid: red;
  --color-valid: green;
}

input {
  border: 2px solid var(--color-default);
  text-align: center;
}

.error-message {
  display: none;
  font-weight: bold;
  color: var(--color-invalid);
}

/* To demonstrate that the validations only happen on blur, we apply this malpractice */
input:focus {
  outline: none;
}

/* Only show invalid ring while not focused */
input:not(:focus):invalid {
  border-color: var(--color-invalid);
}

input:not(:focus):invalid~.error-message {
  display: block;
}

input:not(:focus):valid {
  border-color: var(--color-valid);
}


/* Non demo-related styles */
* {
  box-sizing: border-box;
}

body {
  text-align: center;
  max-width: 46em;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;

  display: grid;
  place-items: center;
}

input {
  font-size: 2em;
  display: block;
  width: 100%;
  margin: 2rem auto 3rem;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

div {
  text-align: center;
}

.override {
  color: blue;
}

#override {
  color: purple !important;
}