* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f4f4f4;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 5%;
  margin-right: 5%;
}

.container {
  margin: 10px;
  padding: 10px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
}

header>img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

nav ul {
  list-style-type: none;
  text-align: center;

}

nav li {
  display: inline-block;
}

li a {
  color: green;
  padding: 5px 10px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

footer {
  display: flex;
}

footer div {
  flex: 1;
  text-align: center;
  margin: 1rem;
}

section {
  display: flex;
}

article {
  flex: 1;
  margin: .25rem;
}


.cta {
  animation: pulse 3s infinite ease-in reverse;
}

.footer-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;

}

.footer-images img {
  margin: 1rem;

}


@keyframes pulse {
  0% {
    border-top: 1px solid red;
  }

  50% {
    border-top: 1px solid green;
  }

  100% {
    border-top: 1px solid white;
  }
}